{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="blog-post-container">
    <h1>{{ page.title }}</h1>
    {{ page.body|richtext }}
</div>

{% with authors=page.author.all %}

{% if authors %}

<div class="author-info">
   <p><strong>written by:</p>
   <ul> 
       {% for author in authors %}
       <li class="author-item">
            {% image author.author_image fill-101x101 %}
            <span>{{ author.name }}</span>
       </li>
        {% endfor %}
    </ul>
</div>

<p class="date">published on: {{ page.date }}</p>

<div class="intro">
    {{page.intro|richtext}}
</div>

<div class="body">
    {{page.body|richtext}}
</div>


{% endif %}

{% endwith %}

{% with images=page.image_gallery.all %}
{% if images %}
<div class="gallery">
    {% for image in images %}
    <div class="gallery-item">
        {% image image.image fill-350x350 %}
        <p>{{ image.caption }}</p>
    </div>

    {% endfor %}
</div>
{% endif %}
{% endwith %}


<a href='{{page.get_parent.url}}'>return to blog</a>


{% with tags=page.tags.all %}
{% if tags %}
<div class="tags">
    {% for tag in tags %}
    <a class="tag-button" href='{% slugurl "tags" %}?tag={{tag}}'>{{tag}}</a>
    {% endfor %}
</div>
{% endif %}

{% endwith %}
{% endblock %} 