{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_indexpage.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="center-heading">{{ page.title }}</h1>
    {{ page.description|richtext }}
    {% for post in blogposts %}
    <div class="blog-post">
       <a href="{% pageurl post %}">{{ post.title }}</a>
       <div class="post-info">
       {% with thumbnail_image=post.specific.main_image %}
    {% if thumbnail_image %}
    <div class="thumbnail_image">
        {% image thumbnail_image fill-300x300 %}
    </div>
    {% endif %}
   {% endwith %}
   <div class=post-info"></div>
        {{post.specific.intro|richtext}}
</div>
 </div>
  {% endfor %}
</div>
{% endblock %}